@model ExamenP1.Models.Entrenador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entrenador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEntrenador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEntrenador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PokemonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PokemonId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
